/* =============================================================================
  BRAND COLORS
============================================================================= */

$elysiumcss-black: hsl(0, 0%, 26%);
$calllock-blue: hsl(192, 100%, 28%);
$skinperfection-green: hsl(146, 42%, 48%);
$balmoral-gold: hsl(54, 58%, 59%);
$travelmatch-red: hsl(0, 57%, 50%);
$cs-kochsysteme-black: hsl(154, 5%, 30%);
$jumper-blue: hsl(192, 100%, 25%);
$cycle-sand: hsl(48, 50%, 60%);

/* =============================================================================
  COLORS
============================================================================= */
//$background: $calllock-blue;
$background: #2B3F4C;
$text-color: white;
$black-text: hsl(0, 0%, 26%);
$hero: #73a7cc;

/* =============================================================================
  BREAKPOINTS
============================================================================= */
$break-medium: "min-width: 650px";