@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

.tagline {
   font-family: "Indie Flower" !important;
}

.title {
   font-family: "Ubuntu" !important;
   text-transform: none !important;
   /*font-family: "Lobster Two" !important;*/
}

.credits {
   font-family: "Ubuntu" !important;
}

.shirt {
   float: left;
}

.shirt-description {
   float: left;
   left: 30px;
   position: relative;
   top: 30px;
}

.white-shadow, .white-shadow>h2, .white-shadow>h1, .white-shadow>.tagline {
   color: #fff !important;
   text-shadow: 0px 0px 15px #000 !important;
}
